.top {
  margin-top: 1.5rem;
}

.form-control {
  border-width: 2px;
  border-color: #b3b3b3;
}
.form-control::placeholder {
  font-family: 'FontAwesome', Arial;
  font-size: 16px;
  font-weight: 500;
}

.slider{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 3px;
}
.range-slider {
  width: 10rem;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}
p{
  text-align: center;
  margin-top: -10px;
  font-size: 30px;
}
.range-slider .rangeValues {
  display: block;
  /* box-shadow: 0 0 20px rgba(0,139,253,0.25); */
  /* padding: 20px; */
  /* font-size: 22px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 10rem;
  position: absolute;
  left: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 10rem;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #21c1ff;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.card{
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  -webkit-transition: .5s; 
  -moz-transition:.5s; 
  -ms-transition:.5s; 
  -o-transition:.5s;
  transition: .5s;
}
.card:hover{
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.card .card-title {
  font-weight: 700;
}
.card-title {
  margin-bottom: 1rem;
}
.card-dummy {
  margin-top: 2rem;
}
.card .card-text-1{
  color: #454545;
  display: inline;
}
.card .card-text-2 {
  color: #454545;
  display: inline;
}
.card .card-text-3 {
  color: #454545;
  display: inline;
}
.card .text{
  font-size: 16px;
}
.event-btn {
  margin: auto;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 0%;
  border: 3px #0022BA solid;
  display: block;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: #0022BA;
}